@import '../../utils/palette';
@import '../../utils/mixins';

.cta-section {
  position: relative;
  padding: 4rem 4rem;
  background: $blue-gradient;
  color: white;
  border-radius: 12px;
  margin: 5rem auto;
  max-width: 1300px;
  overflow: hidden;

  &__content {
    max-width: 80%;
    
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 2rem;
      max-width: 700px;
    }
  }

  &__button {
    @include button-style($background-color: white, $text-color: $color-association, $hover-background-color: #f0f0f0);
  }

  &__icon {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 150px;
    height: auto;
    opacity: 0.5;
  }
}
